<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Editar Cliente</title>
</head>
<body>
    <h1>Editar Cliente</h1>
    <form th:action="@{/clientes/atualizar}" th:object="${cliente}" method="post">
        <input type="hidden" th:field="*{id}">
        <label>Nome: <input type="text" th:field="*{nome}"></label><br>
        <label>Data de Nascimento: <input type="date" th:field="*{dataNascimento}"></label><br>
        <button type="submit">Atualizar</button>
    </form>
    <a th:href="@{/clientes}">Voltar para Listagem de Clientes</a>
</body>
</html>